
/*------------------------------------*\
    About Section
\*------------------------------------*/
#feature {
    background-image: url('../images/campus_photos/stage-audience-1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}
.text-white-70 {
    color: rgba(255,255,255,.7);
}



/*------------------------------------*\
    Contact Section
\*------------------------------------*/
#contact .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#contact button[type="submit"] {
    font-size: 0.8rem !important;
}
#contact {
    background-image: url('../images/campus_photos/qna.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}


/* For Normal Screens */

/* XL */
@media (min-width: 1201px) {
  
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 14px;
    }
    .tedxycce-kya-hai p {
        margin-bottom: 3rem;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }
}

/* LG */
@media (max-width: 1200px) {
 
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 68px;
    }
    .tedxycce-kya-hai p {
        margin-bottom: 1.5rem;
    }

    /*------------------------------------*\
       Contact Section
    \*------------------------------------*/
    .contact-form textarea[placeholder="Message"] {
        height: 8rem;
    }
}

/* MD */
@media (max-width: 991px) {
  
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 55px;
    }
    .tedxycce-kya-hai p {
        margin-bottom: 1rem;
    }

    /*------------------------------------*\
       Contact Section
    \*------------------------------------*/
    .contact-form textarea[placeholder="Message"] {
        height: 11rem;
    }
}

/* SM */
@media (max-width: 767px) {

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .go-back {
        font-size: 1.2rem;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 5px;
    }
    #feature {
        height: unset !important;
    }

   /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 0.9rem !important;
    }
    #contact button[type="submit"] {
        font-size: 0.9rem !important;
    }
}

/* XS */
@media (max-width: 575px) {

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .go-back {
        font-size: 1.7rem;
    }

    /*------------------------------------*\
        About Section
    \*------------------------------------*/
    .tedx-kya-hai, .tedxycce-kya-hai {
        padding: 1rem 0 0 !important;
    }

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 1.3rem !important;
    }
    #contact button[type="submit"] {
        font-size: 1.4rem !important;
    }
}
