/*  Custom Stylesheet */

/*------------------------------------*\
    Font Face
\*------------------------------------*/

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OleoScript';
    src: url('../fonts/OleoScript-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


:root {
    --base-font-family: 'Karla', sans-serif !important;
    --tedred: #E62B1E;
}


* {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

html {
    font-size: 1rem;
    min-width: 350px !important;
}
@media (max-width: 575px) {
    html {
        font-size: 0.8rem !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 1.2rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 1.4rem !important;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 1.6rem !important;
    }
}


/*------------------------------------*\
    Overrides
\*------------------------------------*/
.btn {
    border-radius: 0.5rem !important;
}
.btn-outline-danger {
    color: var(--tedred) !important;
    border-color: var(--tedred) !important;
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--tedred) !important;
}

.bg-tedred {
    background-color: var(--tedred) !important;
}
.text-tedred {
    color: var(--tedred) !important;
}

.card {
    border-radius: 0.5rem !important;
}
.card-img-top {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    height: 35vh;
    min-height: 290px !important;
    object-fit: cover;
    object-position: top;
}

s {
    text-decoration-thickness: 5px;
}

/*------------------------------------*\
    Navbar
\*------------------------------------*/
.navbar {
    background: none;
}

.navbar.shrink {
    -webkit-box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1);
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1)
}
.navbar.shrink {
    padding: 0.2rem 1rem;
    background: var(--dark-color);
}
.navbar.shrink .navbar-brand img {
    width: 7rem;
    margin: 10px 0;
}
.navbar-brand {
    width: 30%;
    padding: 0 !important;
}
.navbar-brand img {
    width: 8rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.navbar-nav a {
    font-size: 0.7rem !important;
}

/*------------------------------------*\
    About Section
\*------------------------------------*/
#feature {
    background-image: url('../images/campus_photos/stage-audience-1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}
.text-white-70 {
    color: rgba(255,255,255,.7) !important;
}
.tedx-kya-hai {
    
}

/*------------------------------------*\
    Speaker Section
\*------------------------------------*/

.speaker-bio {
    line-height: 1.3em !important;
}




/*------------------------------------*\
    Contact Section
\*------------------------------------*/
#contact .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#contact button[type="submit"] {
    font-size: 0.8rem !important;
}
#contact {
    background-image: url('../images/campus_photos/qna.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}


/*------------------------------------*\
    Footer Section
\*------------------------------------*/
.copyright-text, .mail-id {
    font-size: 0.7rem !important;
}
.social-icon a {
    font-size: 0.9rem !important;
}



/* For Normal Screens */

/* XL */
@media (min-width: 1201px) {
  
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 14px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }
}



/* LG */
@media (max-width: 1200px) {
 
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 68px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #register .card-body ul li {
        font-size: 0.7rem;
    }
}

/* MD */
@media (max-width: 991px) {

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-nav a {
        font-size: 0.9rem !important;
    }

  
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 55px;
    }

  }

/* SM */
@media (max-width: 767px) {

    /*------------------------------------*\
        Generic
    \*------------------------------------*/
    .btn {
        font-size: 1.2rem;
    }

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-nav a {
        font-size: 1rem !important;
    }

  
    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 5px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1rem;
    }

   /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 0.9rem !important;
    }
    #contact button[type="submit"] {
        font-size: 0.9rem !important;
    }

    /*------------------------------------*\
        Footer Section
    \*------------------------------------*/
    .copyright-text, .mail-id {
        font-size: 0.9rem !important;
    }
    .social-icon a {
        font-size: 1.1rem !important;
    }
}

/* XS */
@media (max-width: 575px) {

    /*------------------------------------*\
        Generic
    \*------------------------------------*/
    .btn {
        font-size: 1.8rem;
    }

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-brand img {
        width: 10rem;
    }
    .navbar-nav a {
        font-size: 1.4rem !important;
    }

   
    /*------------------------------------*\
        Speakers Section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1.4rem;
    }

 

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 1.3rem !important;
    }
    #contact button[type="submit"] {
        font-size: 1.4rem !important;
    }


    /*------------------------------------*\
        Footer Section
    \*------------------------------------*/
    .copyright-text, .mail-id {
        font-size: 1.3rem !important;
    }
    .social-icon a {
        font-size: 1.7rem !important;
    }
    .site-footer {
        border-top: 1px solid #efebeb;
        padding: 0.8rem 0 1.1rem;
    }
}




/* Speakers PAGE */



.speaker-img {
    --width: 10rem;
    /* height: var(--width);
    width: var(--width); */
}

.hr {
    border-top: 1px solid rgb(150, 150, 150);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 10px;
    width: 100%;

    margin: 1rem 0;
}