
/*------------------------------------*\
    Hero Home Section
\*------------------------------------*/

.hero-X-logo {
    width: 17rem;
    margin: 2.4rem 0;
}
.hero-logo img {
    width: 80%;
}
.hero-claim {
    /*width: 30%;*/
    /*height: 60px;*/
    /*padding-bottom: 0.6rem !important;*/
}
.hero .container {
    margin-top: 3rem;
}

@keyframes animate-element {
    0% {
        stroke-dashoffset: 1450.70166015625px;
    }

    55% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -1450.70166015625px;
    }
}
.svg-el-1 {
    animation-name: animate-element;
    animation-duration: 5000ms;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.5);
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    stroke-dasharray: 1450.70166015625px;
    animation-delay: 0s;
}
.hero-svg-logo {
    width: 97%;
}

#theme-text p {
    font-family: OleoScript, Karla, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
}
#hero-date {
    font-size: 1.5rem;
    font-weight: bold;
}


/*------------------------------------*\
    About Section
\*------------------------------------*/
#feature {
    background-image: url('../images/campus_photos/stage-audience-1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
.text-white-70 {
    color: rgba(255,255,255,.7) !important;
}
#learn-more-text {
    border-bottom: 1px solid var(--tedred);
    font-size: 0.9rem;
}
#learn-more-text i {
    font-size: 0.7rem;
}


/*------------------------------------*\
    Speaker Section
\*------------------------------------*/

.speaker-bio {
    line-height: 1.3em !important;
}


/*------------------------------------*\
    Performance Section
\*------------------------------------*/
#performance {
    background-image: url('../images/campus_photos/pexels-wolfgang.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
.performer-img {
    width: 100%;
}


/*------------------------------------*\
    Register Section
\*------------------------------------*/
#register {
    background-image: url('../images/campus_photos/hands_red_event.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
#register .bg-overlay {
    opacity: 0.5 !important;
}
#register .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#steps-to-register li {
    font-size: 0.8rem !important;
}
#steps-to-register ul {
    margin-left: -15px !important;
}
#steps-to-register ul li:first-child {
    margin-top: 1rem !important;
}


/*------------------------------------*\
    Contact Section
\*------------------------------------*/
#contact .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#contact button[type="submit"] {
    font-size: 0.8rem !important;
}
#contact {
    background-image: url('../images/campus_photos/qna.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}


/*
  Countdown timer early-bird registration
  ---------------
*/

.early-bird-countdown {
    display: block;
    justify-content: center;
}
.early-bird-countdown div {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.early-bird-countdown #earlybird-text {
    padding-top: 3px !important;
    padding-bottom: 15px;
    font-size: 0.6rem !important;
}
.early-bird-countdown .value {
    font-family: Karla, sans-serif !important;
    font-size: 15px !important;
    font-weight: 800 !important;
    color: var(--textdark) !important;
    background: none !important;
    box-shadow: none !important;
    align-self: center !important;
    width: 40px !important;
    padding-top: 8px !important;
}
.early-bird-countdown .days .value {
    margin-left: 53px !important;
    margin-top: 42px !important;
}
.early-bird-countdown .hours .value {
    margin-left: 72px !important;
    margin-top: 23px !important;
}
.early-bird-countdown .minutes .value {
    margin-left: 95px !important;
    margin-top: 0 !important;
}
.early-bird-countdown .seconds .value {
    margin-left: 117px !important;
    margin-top: -23px !important;
}
.early-bird-countdown .label {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 8px;
    align-self: center;
}


/* For Normal Screens */

/* XL */
@media (min-width: 1201px) {

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -106px;
        height: 220px;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 14px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }
}



/* LG */
@media (max-width: 1200px) {

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -106px;
        height: 220px;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 68px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #register .card-body ul li {
        font-size: 0.7rem;
    }

    /*------------------------------------*\
       Contact Section
    \*------------------------------------*/
    .contact-form textarea[placeholder="Message"] {
        height: 8rem;
    }
}

/* MD */
@media (max-width: 991px) {

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -63px;
        height: 195px;
    }
    .hero-logo img {
        width: 90%;
    }
    .hero-claim {
        font-size: 1.1rem !important;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 55px;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 0.8rem !important;
    }
    #register .card-body ul li {
        font-size: 0.8rem;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 0.7rem !important;
    }

    /*------------------------------------*\
       Contact Section
    \*------------------------------------*/
    .contact-form textarea[placeholder="Message"] {
        height: 11rem;
    }
}

/* SM */
@media (max-width: 767px) {

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -45px;
        height: 173px;
    }
    .hero-logo img {
        width: 60%;
    }
    .hero-claim {
        font-size: 1.5rem !important;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 5px;
    }
    #learn-more-text {
        border-bottom: 1px solid var(--tedred);
        font-size: 1.1rem;
    }
    #learn-more-text i {
        font-size: 0.8rem;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 1rem !important;
    }
    #register .card-body ul li {
        font-size: 0.9rem;
    }
    #register .form-control {
        font-size: 1rem !important;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 0.8rem !important;
    }

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 0.9rem !important;
    }
    #contact button[type="submit"] {
        font-size: 0.9rem !important;
    }
}

/* XS */
@media (max-width: 575px) {

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -45px;
        height: 163px;
    }
    .hero-logo img {
        width: 70%;
    }

    #home .container {
        /*height: 80vh;*/
    }
    #theme-row {
        margin-top: 2rem !important;
    }
    #theme-text p {
        font-size: 4rem;
    }
    #hero-date {
        font-size: 2.2rem;
    }
    .hero-claim {
        font-size: 2rem !important;
    }
    #event-virtual {
        font-size: 1.2rem;
    }

    /*------------------------------------*\
       About Section
    \*------------------------------------*/
    #learn-more-text {
        border-bottom: 1px solid var(--tedred);
        font-size: 1.6rem;
    }
    #learn-more-text i {
        font-size: 1.1rem;
    }

    /*------------------------------------*\
        Speakers Section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1.4rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 1.3rem !important;
    }
    #register .card-body ul li {
        font-size: 1.3rem;
    }
    #register .form-control {
        font-size: 1.3rem !important;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 1.2rem !important;
    }

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 1.3rem !important;
    }
    #contact button[type="submit"] {
        font-size: 1.4rem !important;
    }
}


/* Special breakpoint for small screens */

/* XL */
@media (min-width: 992px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-bottom: 0.5rem !important;
    }
}

/* MD */
@media (max-width: 991px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 80% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

/* SM */
@media (max-width: 767px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

/* XS */
@media (max-width: 575px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-row {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #claim-your-spot {
        margin-top: 2rem !important;
    }
}


/* Fix early bird countdown on small screens */
@media (max-width: 480px) {
    #earlybird-text {
        padding-top: 3px !important;
    }
    .early-bird-countdown .value {
        padding-top: 8px !important;
    }
    .early-bird-countdown .days .value {
        margin-left: 53px !important;
        margin-top: 42px !important;
    }
    .early-bird-countdown .hours .value {
        margin-left: 72px !important;
        margin-top: 23px !important;
    }
    .early-bird-countdown .minutes .value {
        margin-left: 94px !important;
        margin-top: 1px !important;
    }
    .early-bird-countdown .seconds .value {
        margin-left: 117px !important;
        margin-top: -22px !important;
    }
    #vip-wrapper, #emperor-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #register .card {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 400px) {
    #vip-wrapper .card-title {
        padding-left: 40px;
    }
}
