body {
    height: 100vh;
}

@media (min-width: 992px) {
    #partners {
        height: 85vh;
    }
}
@media (max-width: 991px) {
    #partners {
        height: 87vh;
    }
}
@media (max-width: 767px) {
    #partners {
        height: 87.5vh;
    }
}
@media (max-width: 575px) {
    #partners {
        height: 87.5vh;
    }
}