/*  Custom Stylesheet */

/*------------------------------------*\
    Font Face
\*------------------------------------*/

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OleoScript';
    src: url('../fonts/OleoScript-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


:root {
    --base-font-family: 'Karla', sans-serif !important;
    --tedred: #E62B1E;
}


* {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

html {
    font-size: 1rem;
    min-width: 350px !important;
}
@media (max-width: 575px) {
    html {
        font-size: 0.8rem !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 1.2rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 1.4rem !important;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 1.6rem !important;
    }
}


/*------------------------------------*\
    Overrides
\*------------------------------------*/
.btn {
    border-radius: 0.5rem !important;
}
.btn-outline-danger {
    color: var(--tedred) !important;
    border-color: var(--tedred) !important;
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--tedred) !important;
}

.bg-tedred {
    background-color: var(--tedred) !important;
}
.text-tedred {
    color: var(--tedred) !important;
}

.card {
    border-radius: 0.5rem !important;
}
.card-img-top {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    height: 35vh;
    min-height: 290px !important;
    object-fit: cover;
    object-position: top;
}

s {
    text-decoration-thickness: 5px;
}

/*------------------------------------*\
    Navbar
\*------------------------------------*/
.navbar {
    background: none;
}
.navbar.shrink {
    -webkit-box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1);
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, .1)
}
.navbar.shrink {
    padding: 0.2rem 1rem;
    background: var(--dark-color);
}
.navbar.shrink .navbar-brand img {
    width: 7rem;
    margin: 10px 0;
}
.navbar-brand {
    width: 30%;
    padding: 0 !important;
}
.navbar-brand img {
    width: 8rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.navbar-nav a {
    font-size: 0.7rem !important;
}


/*------------------------------------*\
    Hero Home Section
\*------------------------------------*/

.hero-X-logo {
    width: 17rem;
    margin: 2.4rem 0;
}
.hero-logo img {
    width: 80%;
}
.hero-claim {
    /*width: 30%;*/
    /*height: 60px;*/
    /*padding-bottom: 0.6rem !important;*/
}
.hero .container {
    margin-top: 3rem;
}


@keyframes animate-element {
    0% {
        stroke-dashoffset: 1450.70166015625px;
    }

    55% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -1450.70166015625px;
    }
}
.svg-el-1 {
    animation-name: animate-element;
    animation-duration: 5000ms;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.5);
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    stroke-dasharray: 1450.70166015625px;
    animation-delay: 0s;
}
.hero-svg-logo {
    width: 97%;
}

#theme-text p {
    font-family: OleoScript, Karla, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
}
#hero-date {
    font-size: 1.5rem;
    font-weight: bold;
}


/*------------------------------------*\
    About Section
\*------------------------------------*/
#feature {
    background-image: url('../images/campus_photos/stage-audience-1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
.text-white-70 {
    color: rgba(255,255,255,.7) !important;
}


/*------------------------------------*\
    Speaker Section
\*------------------------------------*/

.speaker-bio {
    line-height: 1.3em !important;
}


/*------------------------------------*\
    Performance Section
\*------------------------------------*/
#performance {
    background-image: url('../images/campus_photos/pexels-wolfgang.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
.performer-img {
    width: 100%;
}


/*------------------------------------*\
    Register Section
\*------------------------------------*/
#register {
    background-image: url('../images/campus_photos/hands_red_event.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}
#register .bg-overlay {
    opacity: 0.5 !important;
}
#register .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#steps-to-register li {
    font-size: 0.8rem !important;
}
#steps-to-register ul {
    margin-left: -15px !important;
}
#steps-to-register ul li:first-child {
    margin-top: 1rem !important;
}


/*------------------------------------*\
    Contact Section
\*------------------------------------*/
#contact .form-control {
    margin: 0.7rem 0 !important;
    font-size: 0.8rem !important;
    border-radius: 0.25rem !important;
}
#contact button[type="submit"] {
    font-size: 0.8rem !important;
}
#contact {
    background-image: url('../images/campus_photos/qna.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
}


/*------------------------------------*\
    Footer Section
\*------------------------------------*/
.copyright-text, .mail-id {
    font-size: 0.7rem !important;
}
.social-icon a {
    font-size: 0.9rem !important;
}
.back-to-top {
    position: fixed;
    display: none;
    background: #e62b1e;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
}
.back-to-top .fa {
    color: #fff !important;
}
.back-to-top i {
    font-size: 24px;
    padding-top: 6px;
}
.back-to-top:focus {
    background: #e0072f;
    color: #fff;
    outline: none;
}
.back-to-top:hover {
    background: #e0072f;
    color: #fff;
}


/*
  Countdown timer early-bird registration
  ---------------
*/

.early-bird-countdown {
    display: block;
    justify-content: center;
}
.early-bird-countdown div {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.early-bird-countdown #earlybird-text {
    padding-top: 3px !important;
    padding-bottom: 15px;
    font-size: 0.6rem !important;
}
.early-bird-countdown .value {
    font-family: Karla, sans-serif !important;
    font-size: 15px !important;
    font-weight: 800 !important;
    color: var(--textdark) !important;
    background: none !important;
    box-shadow: none !important;
    align-self: center !important;
    width: 40px !important;
    padding-top: 8px !important;
}
.early-bird-countdown .days .value {
    margin-left: 53px !important;
    margin-top: 42px !important;
}
.early-bird-countdown .hours .value {
    margin-left: 72px !important;
    margin-top: 23px !important;
}
.early-bird-countdown .minutes .value {
    margin-left: 95px !important;
    margin-top: 0 !important;
}
.early-bird-countdown .seconds .value {
    margin-left: 117px !important;
    margin-top: -23px !important;
}
.early-bird-countdown .label {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 8px;
    align-self: center;
}


/* For Normal Screens */

/* XL */
@media (min-width: 1201px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -106px;
        height: 220px;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 14px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }
}



/* LG */
@media (max-width: 1200px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -106px;
        height: 220px;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 68px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 0.8rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #register .card-body ul li {
        font-size: 0.7rem;
    }
}

/* MD */
@media (max-width: 991px) {

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-nav a {
        font-size: 0.9rem !important;
    }

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -63px;
        height: 195px;
    }
    .hero-logo img {
        width: 90%;
    }
    .hero-claim {
        font-size: 1.1rem !important;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 55px;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 0.8rem !important;
    }
    #register .card-body ul li {
        font-size: 0.8rem;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 0.7rem !important;
    }
}

/* SM */
@media (max-width: 767px) {

    /*------------------------------------*\
        Generic
    \*------------------------------------*/
    .btn {
        font-size: 1.2rem;
    }

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-nav a {
        font-size: 1rem !important;
    }

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -45px;
        height: 173px;
    }
    .hero-logo img {
        width: 60%;
    }
    .hero-claim {
        font-size: 1.5rem !important;
    }

    /*------------------------------------*\
        About Tedx section
    \*------------------------------------*/
    #book-my-seat {
        margin-top: 5px;
    }

    /*------------------------------------*\
        Speakers section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 1rem !important;
    }
    #register .card-body ul li {
        font-size: 0.9rem;
    }
    #register .form-control {
        font-size: 1rem !important;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 0.8rem !important;
    }

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 0.9rem !important;
    }
    #contact button[type="submit"] {
        font-size: 0.9rem !important;
    }

    /*------------------------------------*\
        Footer Section
    \*------------------------------------*/
    .copyright-text, .mail-id {
        font-size: 0.9rem !important;
    }
    .social-icon a {
        font-size: 1.1rem !important;
    }
    .back-to-top {
        bottom: 15px;
    }
}

/* XS */
@media (max-width: 575px) {

    /*------------------------------------*\
        Generic
    \*------------------------------------*/
    .btn {
        font-size: 1.8rem;
    }

    /*------------------------------------*\
        Navbar
    \*------------------------------------*/
    .navbar-brand img {
        width: 10rem;
    }
    .navbar-nav a {
        font-size: 1.4rem !important;
    }

    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-svg-logo {
        margin-left: -45px;
        height: 163px;
    }
    .hero-logo img {
        width: 70%;
    }
    .container {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    #home .container {
        /*height: 80vh;*/
    }
    #theme-row {
        margin-top: 2rem !important;
    }
    #theme-text p {
        font-size: 4rem;
    }
    #hero-date {
        font-size: 2.2rem;
    }
    .hero-claim {
        font-size: 2rem !important;
    }
    #event-virtual {
        font-size: 1.2rem;
    }

    /*------------------------------------*\
        Speakers Section
    \*------------------------------------*/
    #speakers .card-footer a {
        font-size: 1.4rem;
    }

    /*------------------------------------*\
        Register Section
    \*------------------------------------*/
    #steps-to-register li {
        font-size: 1.3rem !important;
    }
    #register .card-body ul li {
        font-size: 1.3rem;
    }
    #register .form-control {
        font-size: 1.3rem !important;
    }
    .early-bird-countdown #earlybird-text {
        font-size: 1.2rem !important;
    }

    /*------------------------------------*\
        Contact Section
    \*------------------------------------*/
    #contact .form-control {
        font-size: 1.3rem !important;
    }
    #contact button[type="submit"] {
        font-size: 1.4rem !important;
    }


    /*------------------------------------*\
        Footer Section
    \*------------------------------------*/
    .copyright-text, .mail-id {
        font-size: 1.3rem !important;
    }
    .social-icon a {
        font-size: 1.7rem !important;
    }
    .site-footer {
        padding: 0.8rem 0 1.1rem;
    }
}


/* Special breakpoint for small screens */

/* XL */
@media (min-width: 992px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-bottom: 0.5rem !important;
    }
}

/* MD */
@media (max-width: 991px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 80% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

/* SM */
@media (max-width: 767px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

/* XS */
@media (max-width: 575px) and (max-height: 768px) {
    /*------------------------------------*\
        Hero Home Section
    \*------------------------------------*/
    .hero-logo > img {
        margin-bottom: 0 !important;
        margin-top: 0.5rem !important;
        width: 60% !important;
    }
    #theme-row {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    #theme-text p,
    #theme-row svg {
        margin-bottom: 0 !important;
    }
    #hero-date {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #claim-your-spot {
        margin-top: 2rem !important;
    }
}


/* Fix early bird countdown on small screens */
@media (max-width: 480px) {
    #earlybird-text {
        padding-top: 3px !important;
    }
    .early-bird-countdown .value {
        padding-top: 8px !important;
    }
    .early-bird-countdown .days .value {
        margin-left: 53px !important;
        margin-top: 42px !important;
    }
    .early-bird-countdown .hours .value {
        margin-left: 72px !important;
        margin-top: 23px !important;
    }
    .early-bird-countdown .minutes .value {
        margin-left: 94px !important;
        margin-top: 1px !important;
    }
    .early-bird-countdown .seconds .value {
        margin-left: 117px !important;
        margin-top: -22px !important;
    }
    #vip-wrapper, #emperor-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #register .card {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 400px) {
    #vip-wrapper .card-title {
        padding-left: 40px;
    }
}


/* Speakers PAGE */



.speaker-img {
    --width: 10rem;
    /* height: var(--width);
    width: var(--width); */
}

.hr {
    border-top: 1px solid rgb(150, 150, 150);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 10px;
    width: 100%;

    margin: 1rem 0;
}