body {
    background: #000;
    font-size: 50px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100vh;
    overflow: hidden;
}

input {
    display: none;
    top: 0;
}

input:not(:checked)~.container .surface:hover~.turnLeft {
    visibility: visible;
}

input:checked~.container .surface:hover~.turnRight {
    visibility: visible;
}

input:checked~.container>.surface {
    transform: rotateX(60deg) rotateZ(-45deg);
}

input:checked~.container>.surface .step-inner div.front {
    background: #555;
}

input:checked~.container>.surface .step-inner div.left,
input:checked~.container>.surface .step-inner div.right {
    background: #888;
}

svg {
    position: absolute;
    bottom: 0%;
    left: calc(50% - 1.18em);
    opacity: 0.5;
    visibility: hidden;
    z-index: 99;
}

.turnRight {
    transform: scale(-1, 1);
}

.container {
    width: 6em;
    height: 6.3em;
    transform-style: preserve-3d;
}

.surface {
    width: 6em;
    height: 6em;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateZ(45deg);
    transition: transform 0.6s linear;
    will-change: transform;
}

.ball,
.step,
.belt,
.belt-inner {
    transform-style: preserve-3d;
}

.ball,
.ball-shadow,
.ball-layer,
.step-inner div,
.belt,
.belt-inner {
    position: absolute;
}

.ball,
.ball-shadow,
.ball-layer,
.step-inner div {
    width: 1em;
    height: 1em;
}

.ball {
    transform: translate3d(0em, 0em, 2.5em);
    will-change: transform;
    animation: rollBall 3s linear infinite;
}

.ball-shadow,
.ball-layer {
    border-radius: 50%;
}

.ball-shadow {
    background: radial-gradient(#000 50%, transparent 75%, transparent);
    opacity: 0.4;
    transform: translateZ(-0.5em);
}

.ball-layer {
    background: #c22;
}

.ball-layer:nth-of-type(1) {
    transform: rotateX(0deg);
}

.ball-layer:nth-of-type(2) {
    transform: rotateX(18deg);
}

.ball-layer:nth-of-type(3) {
    transform: rotateX(36deg);
}

.ball-layer:nth-of-type(4) {
    transform: rotateX(54deg);
}

.ball-layer:nth-of-type(5) {
    transform: rotateX(72deg);
}

.ball-layer:nth-of-type(6) {
    transform: rotateX(90deg);
}

.ball-layer:nth-of-type(7) {
    transform: rotateX(108deg);
}

.ball-layer:nth-of-type(8) {
    transform: rotateX(126deg);
}

.ball-layer:nth-of-type(9) {
    transform: rotateX(144deg);
}

.ball-layer:nth-of-type(10) {
    transform: rotateX(162deg);
}

.ball-layer:nth-of-type(11) {
    transform: rotateY(180deg);
}

.ball-layer:nth-of-type(12) {
    transform: rotateY(198deg);
}

.ball-layer:nth-of-type(13) {
    transform: rotateY(216deg);
}

.ball-layer:nth-of-type(14) {
    transform: rotateY(234deg);
}

.ball-layer:nth-of-type(15) {
    transform: rotateY(252deg);
}

.ball-layer:nth-of-type(16) {
    transform: rotateY(270deg);
}

.ball-layer:nth-of-type(17) {
    transform: rotateY(288deg);
}

.ball-layer:nth-of-type(18) {
    transform: rotateY(306deg);
}

.ball-layer:nth-of-type(19) {
    transform: rotateY(324deg);
}

.ball-layer:nth-of-type(20) {
    transform: rotateY(342deg);
}

.step-inner {
    position: relative;
    width: 1em;
    transform-style: preserve-3d;
    transform: rotateX(-90deg) translateZ(1em);
}

.step-inner div {
    transition: background 0.6s linear;
}

.back {
    transform: translateZ(-1em) rotateY(180deg);
}

.right {
    transform: rotateY(-270deg) translateX(1em);
    transform-origin: top right;
}

.left {
    transform: rotateY(270deg) translateX(-1em);
    transform-origin: center left;
}

.top {
    transform: rotateX(-90deg) translateY(0);
    transform-origin: top center;
}

.front {
    transform: translateZ(0);
}


/* Steps */

.s1 {
    transform: translate3d(0em, 0em, 2em);
}

.s1 .step-inner div.top {
    background: #fff;
}

.s1 .step-inner div.front,
.s1 .step-inner div.left,
.s1 .step-inner div.right {
    height: 2em;
}

.s1 .step-inner div.front {
    background: #888;
}

.s1 .step-inner div.left,
.s1 .step-inner div.right {
    background: #555;
}

.s2 {
    transform: translate3d(0em, 1em, 2.1736526946em);
}

.s2 .step-inner div.top {
    background: #fff;
}

.s2 .step-inner div.front,
.s2 .step-inner div.left,
.s2 .step-inner div.right {
    height: 2.1736526946em;
}

.s2 .step-inner div.front {
    background: #888;
}

.s2 .step-inner div.left,
.s2 .step-inner div.right {
    background: #555;
}

.s3 {
    transform: translate3d(0em, 2em, 2.3473053892em);
}

.s3 .step-inner div.top {
    background: #fff;
}

.s3 .step-inner div.front,
.s3 .step-inner div.left,
.s3 .step-inner div.right {
    height: 2.3473053892em;
}

.s3 .step-inner div.front {
    background: #888;
}

.s3 .step-inner div.left,
.s3 .step-inner div.right {
    background: #555;
}

.s4 {
    transform: translate3d(0em, 3em, 2.5209580838em);
}

.s4 .step-inner div.top {
    background: #fff;
}

.s4 .step-inner div.front,
.s4 .step-inner div.left,
.s4 .step-inner div.right {
    height: 2.5209580838em;
}

.s4 .step-inner div.front {
    background: #888;
}

.s4 .step-inner div.left,
.s4 .step-inner div.right {
    background: #555;
}

.s5 {
    transform: translate3d(0em, 4em, 2.6946107784em);
}

.s5 .step-inner div.top {
    background: #fff;
}

.s5 .step-inner div.front,
.s5 .step-inner div.left,
.s5 .step-inner div.right {
    height: 2.6946107784em;
}

.s5 .step-inner div.front {
    background: #888;
}

.s5 .step-inner div.left,
.s5 .step-inner div.right {
    background: #555;
}

.s6 {
    transform: translate3d(0em, 5em, 2.8682634731em);
}

.s6 .step-inner div.top {
    background: #fff;
}

.s6 .step-inner div.front,
.s6 .step-inner div.left,
.s6 .step-inner div.right {
    height: 2.8682634731em;
}

.s6 .step-inner div.front {
    background: #888;
}

.s6 .step-inner div.left,
.s6 .step-inner div.right {
    background: #555;
}

.s7 {
    transform: translate3d(1em, 5em, 3.0419161677em);
}

.s7 .step-inner div.top {
    background: #fff;
}

.s7 .step-inner div.front,
.s7 .step-inner div.left,
.s7 .step-inner div.right {
    height: 3.0419161677em;
}

.s7 .step-inner div.front {
    background: #888;
}

.s7 .step-inner div.left,
.s7 .step-inner div.right {
    background: #555;
}

.s8 {
    transform: translate3d(2em, 5em, 3.2155688623em);
}

.s8 .step-inner div.top {
    background: #fff;
}

.s8 .step-inner div.front,
.s8 .step-inner div.left,
.s8 .step-inner div.right {
    height: 3.2155688623em;
}

.s8 .step-inner div.front {
    background: #888;
}

.s8 .step-inner div.left,
.s8 .step-inner div.right {
    background: #555;
}

.s9 {
    transform: translate3d(3em, 5em, 3.3892215569em);
}

.s9 .step-inner div.top {
    background: #fff;
}

.s9 .step-inner div.front,
.s9 .step-inner div.left,
.s9 .step-inner div.right {
    height: 3.3892215569em;
}

.s9 .step-inner div.front {
    background: #888;
}

.s9 .step-inner div.left,
.s9 .step-inner div.right {
    background: #555;
}

.s10 {
    transform: translate3d(4em, 5em, 3.5628742515em);
}

.s10 .step-inner div.top {
    background: #fff;
}

.s10 .step-inner div.front,
.s10 .step-inner div.left,
.s10 .step-inner div.right {
    height: 3.5628742515em;
}

.s10 .step-inner div.front {
    background: #888;
}

.s10 .step-inner div.left,
.s10 .step-inner div.right {
    background: #555;
}

.s11 {
    transform: translate3d(5em, 5em, 3.7365269461em);
}

.s11 .step-inner div.top {
    background: #fff;
}

.s11 .step-inner div.front,
.s11 .step-inner div.left,
.s11 .step-inner div.right {
    height: 3.7365269461em;
}

.s11 .step-inner div.front {
    background: #888;
}

.s11 .step-inner div.left,
.s11 .step-inner div.right {
    background: #555;
}

.s12 {
    transform: translate3d(5em, 4em, 3.9101796407em);
}

.s12 .step-inner div.top {
    background: #fff;
}

.s12 .step-inner div.front,
.s12 .step-inner div.left,
.s12 .step-inner div.right {
    height: 3.9101796407em;
}

.s12 .step-inner div.front {
    background: #888;
}

.s12 .step-inner div.left,
.s12 .step-inner div.right {
    background: #555;
}

.s13 {
    transform: translate3d(5em, 3em, 4.0838323353em);
}

.s13 .step-inner div.top {
    background: #fff;
}

.s13 .step-inner div.front,
.s13 .step-inner div.left,
.s13 .step-inner div.right {
    height: 4.0838323353em;
}

.s13 .step-inner div.front {
    background: #888;
}

.s13 .step-inner div.left,
.s13 .step-inner div.right {
    background: #555;
}

.s14 {
    transform: translate3d(4em, 3em, 4.2574850299em);
}

.s14 .step-inner div.top {
    background: #fff;
}

.s14 .step-inner div.front,
.s14 .step-inner div.left,
.s14 .step-inner div.right {
    height: 4.2574850299em;
}

.s14 .step-inner div.front {
    background: #888;
}

.s14 .step-inner div.left,
.s14 .step-inner div.right {
    background: #555;
}

.belt {
    width: 3.85em;
    height: 1em;
    transform: translate3d(1em, 0, 1.8263473054em);
}

.belt-inner {
    background-image: linear-gradient(90deg, #666, #333 0.08em, #888 0.08em, #888 0.14em, #333 0.14em, #666 0.2em, #666 1em);
    background-position: 0 0;
    background-size: 1em 1em;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transform: rotateY(-39deg) skewY(38deg);
    animation: runBelt 0.12s linear infinite;
}

@keyframes rollBall {
    from {
        transform: translate3d(0em, 0em, 2.5em);
    }
    4.2857142857% {
        transform: translate3d(3.6em, 3em, 4.9311377246em);
    }
    7.1428571429% {
        transform: translate3d(4em, 3em, 4.7574850299em);
    }
    11.4285714286% {
        transform: translate3d(4.6em, 3em, 4.7574850299em);
    }
    14.2857142857% {
        transform: translate3d(5em, 3em, 4.5838323353em);
    }
    18.5714285714% {
        transform: translate3d(5em, 3.6em, 4.5838323353em);
    }
    21.4285714286% {
        transform: translate3d(5em, 4em, 4.4101796407em);
    }
    25.7142857143% {
        transform: translate3d(5em, 4.6em, 4.4101796407em);
    }
    28.5714285714% {
        transform: translate3d(5em, 5em, 4.2365269461em);
    }
    32.8571428571% {
        transform: translate3d(4.4em, 5em, 4.2365269461em);
    }
    35.7142857143% {
        transform: translate3d(4em, 5em, 4.0628742515em);
    }
    40% {
        transform: translate3d(3.4em, 5em, 4.0628742515em);
    }
    42.8571428571% {
        transform: translate3d(3em, 5em, 3.8892215569em);
    }
    47.1428571429% {
        transform: translate3d(2.4em, 5em, 3.8892215569em);
    }
    50% {
        transform: translate3d(2em, 5em, 3.7155688623em);
    }
    54.2857142857% {
        transform: translate3d(1.4em, 5em, 3.7155688623em);
    }
    57.1428571429% {
        transform: translate3d(1em, 5em, 3.5419161677em);
    }
    61.4285714286% {
        transform: translate3d(0.4em, 5em, 3.5419161677em);
    }
    64.2857142857% {
        transform: translate3d(0em, 5em, 3.3682634731em);
    }
    68.5714285714% {
        transform: translate3d(0em, 4.4em, 3.3682634731em);
    }
    71.4285714286% {
        transform: translate3d(0em, 4em, 3.1946107784em);
    }
    75.7142857143% {
        transform: translate3d(0em, 3.4em, 3.1946107784em);
    }
    78.5714285714% {
        transform: translate3d(0em, 3em, 3.0209580838em);
    }
    82.8571428571% {
        transform: translate3d(0em, 2.4em, 3.0209580838em);
    }
    85.7142857143% {
        transform: translate3d(0em, 2em, 2.8473053892em);
    }
    90% {
        transform: translate3d(0em, 1.4em, 2.8473053892em);
    }
    92.8571428571% {
        transform: translate3d(0em, 1em, 2.6736526946em);
    }
    97.1428571429% {
        transform: translate3d(0em, 0.4em, 2.6736526946em);
    }
    to {
        transform: translate3d(0em, 0em, 2.5em);
    }
}

@keyframes runBelt {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1em 0;
    }
}